@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');

*{
  font-family: 'Changa', sans-serif;

}
body{

  background-color: #0068c93a;
}
footer {
  background-color:white;

  height:20vh;
  position: relative;
  right: 10px;
  width: 100vw;
}

.pub_footer{
  height: 3vh;
  background-color: #08A829;
  position: relative;
  bottom: -20vh;

  color: white;
  font-size: 2vh;
  text-align: center;
}